
<!DOCTYPE html>
<html lang="en">
<body>
    
  <style>


  </style>



<div class="row">

	<form  action="/display" method="post">
      <div>
        <input type="text" name="value1" value="{{data[0]}}">
        <input type="text" name="value2" value="{{data[1]}}">
        <input type="text" name="value3" value="{{data[2]}}">
        <input type="text" name="value4" value="{{data[3]}}">
        <input type="text" name="value5" value="{{data[4]}}">
        <input type="text" name="value6" value="{{data[5]}}">
        <input type="text" name="value7" value="{{data[6]}}">
        <input type="text" name="value8" value="{{data[7]}}">
        <input type="text" name="value9" value="{{data[8]}}">
        <input type="text" name="value10" value="{{data[9]}}">
      </div>
      <div>
        <input type="text" name="value11" value="{{data[10]}}">
        <input type="text" name="value12" value="{{data[11]}}">
        <input type="text" name="value13" value="{{data[12]}}">
        <input type="text" name="value14" value="{{data[13]}}">
        <input type="text" name="value15" value="{{data[14]}}">
        <input type="text" name="value16" value="{{data[15]}}">
        <input type="text" name="value17" value="{{data[16]}}">
        <input type="text" name="value18" value="{{data[17]}}">
        <input type="text" name="value19" value="{{data[18]}}">
        <input type="text" name="value20" value="{{data[19]}}">
      </div>
      <div>
        <input type="text" name="value21" value="{{data[20]}}">
        <input type="text" name="value22" value="{{data[21]}}">
        <input type="text" name="value23" value="{{data[22]}}">
        <input type="text" name="value24" value="{{data[23]}}">
        <input type="text" name="value25" value="{{data[24]}}">
        <input type="text" name="value26" value="{{data[25]}}">
        <input type="text" name="value27" value="{{data[26]}}">
        <input type="text" name="value28" value="{{data[27]}}">
        <input type="text" name="value29" value="{{data[28]}}">
        <input type="text" name="value30" value="{{data[29]}}">
      </div>
    

        


	    <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-primary" type="submit" name="submit">
          </div>
        </div>

    </form>
</div>
	
</body>
</html>
